__pycache__/
.ipynb_checkpoints/
Testing/
.DS_Store
Figures/
Images/
test_results/
Prepublication/
Exo/
Notebooks_Repro/InPreparation/
FileHFM_binary_dir.txt
dist/
*.slides.html
*_Format.txt
*_Data.dat